/* ------------------------------------
  Mixins
------------------------------------ */
@mixin box-shadow($var) {
  -webkit-box-shadow: $var;
  -moz-box-shadow: $var;
  box-shadow: $var;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
@mixin box-sizing($var) {
  -webkit-box-sizing: $var;
  -moz-box-sizing: $var;
  box-sizing: $var;
}
@mixin transition($var) {
  -webkit-transition: $var;
  -o-transition: $var;
  transition: $var;
}
@mixin transform($var) {
  -webkit-transform: $var;
  -ms-transform: $var;
  transform: $var;
}
@mixin translate($x, $y) {
  @include transform(translate($x, $y));
}
@mixin animation($animation) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};  
}
@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}
/* form placeholder styling */
@mixin placeholder {
  &::-webkit-input-placeholder {@content};
  &:-moz-placeholder           {@content};
  &::-moz-placeholder          {@content};
  &:-ms-input-placeholder      {@content}; 
}
/* --------------------
  USAGE:
  input {
    @include placeholder() {
      color: #fff;
    }
  }
  --------------------- */
  
%visuallyhidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}
/* --------------------
  USAGE:
  .sr-only {
    @extend %visuallyhidden;
  }
  --------------------- */
